<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995667991123-kj1vhp36nad1beospqt6bv4oo0765poi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995667991123-kj1vhp36nad1beospqt6bv4oo0765poi</string>
	<key>API_KEY</key>
	<string>AIzaSyB4uW6LkP69Y6znKIiah6lp4JOesR0FaGU</string>
	<key>GCM_SENDER_ID</key>
	<string>995667991123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swiftUiDemo.loginSwiftUIDemo</string>
	<key>PROJECT_ID</key>
	<string>loginswiftui-9887d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginswiftui-9887d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995667991123:ios:142067d3555acea7af84a6</string>
</dict>
</plist>